<section class="page-banner-section">
    <div class="hero-card hero-card--banner">
        <img src="~/images/header-banner.png"
             asp-append-version="true"
             alt="PED Banner"
             class="banner-image" />
    </div>
</section>